body {
  background: rgb(67 105 178) !important;
}

.app {
  text-align: center;
  color: white;
}

.link:link {
  text-decoration: none;
  color: rgb(32 32 246);
}

.img {
  width: 80%;
  transition: width 1s;
}

.img:hover {
  width: 100%;
}

.icon {
  height: 3vh;
}

.img1 {
  width: 30%;
}
