body {
  background: rgb(67 105 178) !important;
}

.app {
  text-align: center;
  color: white;
}

.link:link {
  text-decoration: none;
  color: rgb(32 32 246);
}

/* img:hover {
  cursor:pointer;
} */

img {
  width: 40%;
  transition: width 2s;
}

img:hover {
  width: 60%;
}

.icon {
  height: 5vh;
}
